form {
	margin-top: 10px;
}

label {
	font-size: 16px;
	width: 100px;
	display: block;
	text-align: right;
	margin-right: 10px;
	margin-top: 16px;
	margin-bottom: 8px;
	color: #616161;
}

input {
	width: 250px;
	border: none;
	border-bottom: 1px solid #616161;
	font-size: 16px;
	color: #424242;
	padding-bottom: 5px;
	margin-top: 8px;
}

input:focus {
	outline: none;
	border-bottom: 2px solid #0775d3;
}

.save {
	font-weight: bold;
	width: 130px;
	padding: 5px 10px;
	margin-top: 30px;
	background-color: #0775d3;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin-top: 16px;
}

tr:nth-child(even) {
	background-color: #f5f5f5;
}

tr:nth-child(odd) {
	background-color: #fff;
}

tr {
	border-top: 1px solid #e0e0e0;
	text-align: left;
	color: #424242;
}